{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173560294-1"></script>
    <script async>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-173560294-1');
    </script>

    <title>{% block title %}Christoph Royer{% endblock %}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#2f63c9">
    <meta name="msapplication-TileColor" content="#2f63c9">
    <meta name="theme-color" content="#2f63c9">



    <link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/transition.min.css'>

    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'semantic/semantic.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>

    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no" />
    <script data-ad-client="ca-pub-5642550515510804" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    {% block additional_head %}
    {% endblock %}

    {% block metatags %}
    <!-- Primary Meta Tags -->
    <meta name="description" content="{% trans "Christoph Royer is a web and software developer from Ramsau, Austria" %}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://christophroyer.com/">
    <meta property="og:title" content="Christoph Royer">
    <meta property="og:description" content="{% trans "Christoph Royer is a web and software developer from Ramsau, Austria" %}">
    <meta property="og:image" content="{% static "img/profile.jpg" %}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://christophroyer.com/">
    <meta property="twitter:title" content="Christoph Royer">
    <meta property="twitter:description" content="{% trans "Christoph Royer is a web and software developer from Ramsau, Austria" %}">
    <meta property="twitter:image" content="{% static "img/profile.jpg" %}">
    {% endblock %}
</head>
<body onresize="onResize()">
<div id="alert-wrapper">
    <div id="alert-success" class="alert hidden">
        <h1>Success</h1> <i class="close icon"></i>
    </div>
    <div id="alert-info" class="alert hidden">
        <h1>Info</h1> <i class="close icon"></i>
    </div>
    <div id="alert-error" class="alert hidden">
        <h1>Error</h1> <i class="close icon"></i>
    </div>
</div>
<a href="/"><img src="{% static "img/logo.svg" %}" id="logo" onerror="$(this).css('background-color', 'white')"></a>
<div class="ui top attached menu blue inverted" id="topBar" style="position: relative;">
    <button class="ui button white" id="sidebar_button"
        onclick="$('#nav_side .sidebar').sidebar('toggle')"><i class="list icon" style="margin: auto"></i></button>
    <h1>
        Christoph Royer
        <form class="ui buttons right floated main menu white" id="lang_buttons"
            method="post" action="{% url 'set_language' %}">
            {% csrf_token %}
            {% get_current_language as languageCode %}
            <button class="ui button white {% if languageCode == 'de' %}active{% endif %}"
                    style="background-image: url('{% static "img/de.png" %}')"
                    type="submit" name="language" value="de"></button>
            <button class="ui button white {% if languageCode == 'en' %}active{% endif %}"
                    style="background-image: url('{% static "img/en.png" %}')"
                    type="submit" name="language" value="en"></button>
        </form>
    </h1>
</div>
<div class="ui bottom attached segment" id="nav_side">
    <div class="ui inverted left inline visible vertical teal thin sidebar menu">
        {% block menu_items %}
            {% url 'index' as url %}
            <a class="item color-fade {% if url == request.path%}active{% endif %}" href="{{ url }}">{% trans "Start" %}</a>

            {% url 'projects' as url %}
            <a class="item {% if url == request.path%}active{% endif %}" href="{{ url }}">{% trans "Projects" %}</a>

            {% url 'commissions' as url %}
            <a class="item {% if url == request.path%}active{% endif %}" href="{{ url }}">{% trans "Commissions" %}</a>
        {% endblock %}
    </div>
	<div id="page_content">
        {% block content %}
        {% endblock %}
    </div>
</div>
<div id="footer">
    <div>
        <div>© Christoph Royer 2022 | <a href="{% url 'privacy' %}">{% trans "Privacy" %}</a></div>
        <div><i>"{% trans "Then you will know the truth, and the truth will set you free." %}"</i> <small>{% trans "John 8:32" %}</small></div>
        <div>
            <a href="https://instagram.com/der_royer" target="_blank"><i class="instagram icon"></i></a>
            <a href="https://www.youtube.com/channel/UCnoGkTMe3ajJtOzTkg5it7g" target="_blank"><i class="youtube icon"></i></a>
            <a href="https://github.com/Ramsau/" target="_blank"><i class="github icon"></i></a>
        </div>
    </div>
</div>
</body>

<script>
    $('.ui.sidebar').sidebar({
        context: $('.bottom.segment'),
    }).sidebar('setting', 'dimPage', false).sidebar('setting', 'closable', false)
</script>
{% block js %}{% endblock %}
</html>
