{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Christoph Royer{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}">
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css'>

    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'semantic/semantic.min.js' %}"></script>

</head>
<body>
<img src="{% static "img/logo.png" %}" id="logo" onerror="$(this).css('background-color', 'white')";>
<div class="ui top attached menu blue inverted" id="topBar" style="overflow: visible !important">
    <h1>Christoph Royer</h1>
    <div class="ui buttons right floated main menu white" id="lang_buttons">
        <button class="ui button white" style="background-image: url('{% static "img/de.png" %}')"></button>
        <button class="ui button white"><img src="" alt="">test</button>
    </div>
</div>
<div class="ui bottom attached segment" id="nav_side">
    <div class="ui inverted left inline visible vertical teal thin sidebar menu">
        <a class="item" href="/">Menü</a>
        <a class="item">Projekte</a>
        <a class="item">Aufträge</a>
        <a class="item">Glaube</a>
    </div>
    <div class="pusher">
        <div class="ui basic segment">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>

<script>
    $('.ui.sidebar').sidebar({
        context: $('.bottom.segment')
    })
</script>
</html>