{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Commissions" %}</h1>
    {% blocktrans %}
        <p>
            I would love to hear your project ideas or software requests - the more exotic, the better.
            Whether it's about a piece of software or website I can design for your business or a novel idea we can
            take co-ownership of - Let's see what we can do together!
        </p>
        <p>
            After you write to me, we can get together personally to work out a concept or write via E-mail - of course free of
            charge and without commitment. I provide quick, personal feedback when it comes to requests, questions or errors in my work -
            not the impersonal, slow-moving customer service known from big companies. So get in touch, I'm looking
            forward to hearing from you!
        </p>
    {% endblocktrans %}
    <p>{% trans "Mail" %}: <a href="mailto:mail@christophroyer.com">mail@christophroyer.com</a></p>
    <br>

    <form id="requestForm">
        {{ form.as_p }}
        {% csrf_token %}
        <button class="ui button white">{% trans "Send" %}</button>
    </form>
{% endblock %}

{% block js %}
    <script>
        $('#requestForm').submit(function(event){
            event.preventDefault();
            $.ajax({
                url: '{% url 'commissions' %}',
                method: 'POST',
                data: $('#requestForm').serialize(),
                error: function(response){
                    showError(response.responseText);
                },
                success: function(response){
                    showSuccess(response);
                }
            })
        })
    </script>
{% endblock %}