{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    Christoph Royer
{% endblock %}

{% block content %}
        <p>
            {% url "projects" as projects_url %}
            {% blocktrans %}
            I'm a self-taught programmer and computer science student with a focus on learning new things and making possible whatever
                I find interesting.<br>
            Continue reading to learn more about me, or go look at a few of my <a href="{{ projects_url }}">Projects</a>.
            {% endblocktrans %}
        </p>
        <h3>{% trans "Don't settle for the known." %}</h3>
        <p>
            {% blocktrans %}
            Nowadays, everything can be - and is - copied from others, which is why it's important to me to
            keep improving, reiterating and reimagining. How would we stand out after all if everything has to look the same?<br>
            Because of this, I create each project with its own style and feel, sometimes stubbornly building from the ground up just to make the project truly mine.
            {% endblocktrans %}
        </p>
        <h3>{% trans "About me" %}</h3>
        <img src="{% static "img/profile.jpg" %}" alt="{% trans "Profile image" %}" id="profilePhoto">
        <p>
            {% blocktrans %}
            I was born in 2001 and I come from Ramsau, Austria. Since autumn of 2024, I have been working
            towards my Master's in Computer Science at <a href="https://www.tugraz.at" target="_blank">TU Graz</a>.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}
            While studying
            at Highschool in Radstadt, I started taking an interest in software development. After my first year coding in
            <a href="https://docs.microsoft.com/en-us/dotnet/csharp/tour-of-csharp/" target="_blank">C#</a>,
            and getting to know the principles of programming, I moved over to
            full-stack web development in <a href="https://python.org" target="_blank">Python</a>.
            Through my various pet projects and university courses I do have a wider base of
            knowledge: from native and embedded code in <a href="https://cplusplus.com/" target="_blank">C++</a> to the "big three"
            of web development - JavaScript, Html and CSS - but also
            App development with <a href="https://flutter.dev" target="_blank">Flutter</a>, among bits and pieces
            from other frameworks.<br>
            In University, I have been learning a lot about the theoretical side of computer science, as well as
            getting hands-on experience in OS-level programming, artificial intelligence and robotics. Additionally, i have been fortunate enough to work together
            with <a href="https://semify-eda.com" target="_blank">Semify</a>, gaining experience in low-level software development.
            My time as Chief Process Officer at the <a href="https://www.tugracing.at" target="_blank">TU Graz Racing Team</a>
            gave me the opportunity to learn not only about embedded software development,
            but also how to manage a complex project and integrate its parts into one coherent system.
            {% endblocktrans %}
        </p>
{% endblock %}
