{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Projects" %} - Christoph Royer
{% endblock %}

{% block content %}
    <div class="segments projects">
        {% for project in projects %}
            <div class="ui segment project">
                <h2>{{ project.name }}</h2>
                <img src="{% static "img/projects/" %}{{ project.id }}.jpg" alt="{% trans "Image" %} - {{ project.name }}">
                <p>{{ project.text1 }}
                    <div class="ui accordion inline">
                        <div class="active title">
                            <p class="readMore"><u>{% trans "Read more..." %}</u></p>
                        </div>
                        <div class="content">
                            <p>{{ project.text2 }}</p>
                        </div>
                    </div>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block js %}
    <script>
       $('.ui.accordion').accordion(
           {
               onOpening: function(){
                   let content = $(this)
                   let more = $('.readMore', content.parent());
                   more.hide(300);

               }
           }
       )


       $(document).mouseup(function(e){
           let content = $('.accordion > .content.active');

           if(!content.is(e.target) && content.has(e.target).length === 0){
               content.parent().accordion('close', 0)
               $('.readMore', content.parent()).show(300);
           }
       })
    </script>
{% endblock %}