{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Projects" %} - Christoph Royer
{% endblock %}

{% block content %}
    <div class="segments projects">{% for project in projects %}
        <div class="ui segment project">
            <h2>{{ project.name }}</h2>
            <p>{{ project.text1 }}
                <div class="ui accordion inline">
                    <div class="active title">
                        <p><u>{% trans "Read more..." %}</u></p>
                    </div>
                    <div class="content">
                        {{ project.text2 }}
                    </div>
                </div>
            </p>
        </div>
    {% endfor %}</div>
{% endblock %}

{% block js %}
    <script>
       $('.ui.accordion').accordion();
    </script>
{% endblock %}