{% extends "base.html" %}
{% load static %}

{% block content %}
    <button class="btn" onclick="set('Linux')">Linux</button>
    <button class="btn" onclick="set('LinuxVNC')">Linux[VNC]</button>
    <button class="btn" onclick="set('Windows')">Windows</button>
    <button class="btn" onclick="set('ForceShutdown')">Force Shutdown</button>
    <button class="btn" onclick="set('TakeImage')">Take Image</button><br>
{% endblock %}

{% block js %}
    <script>
        function set(command) {
            $.ajax(
                '',
                {
                    method: 'POST',
                    data: {
                        set: command,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: () => {
                        showSuccess('Signal sent: ' + command);
                    },
                    error: resp => {
                        showError(resp.responseText);
                    }
                }
            )
        }
    </script>
{% endblock %}
